.MessagesList{
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    width: 60%;
}

.messageBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info p{
   margin-left: 5pt;
   margin-right: 5pt;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: left;
}

.list{
    justify-items: center;
}


