<nav class="nav justify-content-lg-between">
    <div class="row justify-content-start align-items-start">
        <div class="col">
            <h1 class="display-5">Nocturne</h1>
        </div>
    </div>
    <div class="row justify-content-start align-items-center">
        <div class="col"><a class="nav-link" routerLink="about">About</a></div>
        <div class="col"><a class="nav-link" routerLink="auth">SignIn</a></div>
        <div class="col"><a class="nav-link" routerLink="register">Create</a></div>
        <div class="col"><a class="nav-link" routerLink="administration/users">Users</a></div>
    </div>
</nav>
